<div class="image-log">
    <div class="contenedor-login ">
        <div class="container">
            <div class="row"  >
                <div class="col-md-4"></div>
                <div class="col-md-4" >
                    <div class="card text-center">
                        <div class="card-body">
                          <h2 class="card-title">Restablecer Contraseña</h2>
                          <p class="card-text">Ingrese su nueva contraseña</p>
                            <div class="form-outline mb-4 colorc">
                            <input type="password" id="password" class="form-control" />
                            <label class="form-label " for="password"> <a class="text-formulario-login-e">Contraseña</a> </label>
                            </div>
                            <div class="form-outline mb-4 colorc">
                                <input type="password" id="passwordConfirm" class="form-control" />
                                <label class="form-label " for="passwordConfirm"> <a class="text-formulario-login-e">
                                    Confirmar contraseña
                                </a> </label>
                                </div>
                          <a href="/dashboard/login"><button type="button" class="btn btn-primary btnRecu">LISTO</button></a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

