<div class="agendar">
<div class="col-8 color-agend">
    <div class="pads">
        <form>
          
          
            <!-- Text input -->
            <div class="form-outline mb-4 border-label">
              <input type="text" id="form6Example3" class="form-control" />
              <label class="form-label" for="form6Example3">Nombre</label>
            </div>
             <!-- number input -->
             <div class="form-outline mb-4 border-label">
                <input type="number" id="form6Example3" class="form-control" />
                <label class="form-label" for="form6Example3">Telefono</label>
              </div>
          
            <!-- Text input -->
            <div class="form-outline mb-4 border-label">
              <input type="text" id="form6Example4" class="form-control" />
              <label class="form-label" for="form6Example4">Direccion</label>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4 border-label">
              <input type="email" id="form6Example5" class="form-control" />
              <label class="form-label" for="form6Example5">Email</label>
            </div>
          
            <!-- Number input -->
            <div class="form-outline mb-4 border-label">
              <input type="number" id="form6Example6" class="form-control" />
              <label class="form-label" for="form6Example6">Servicio</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-4 border-label">
              <textarea class="form-control" id="form6Example7" rows="4"></textarea>
              <label class="form-label" for="form6Example7">Descripcion</label>
            </div>
          
           
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4 ">
                <div class="col ">
                  <div class="form-outline border-label">
                    <input type="text" id="form6Example1" class="form-control" />
                    <label class="form-label" for="form6Example1">Fecha</label>
                  </div>
                </div>
                <div class="col ">
                  <div class="form-outline border-label">
                    <input type="text" id="form6Example2" class="form-control" />
                    <label class="form-label" for="form6Example2">Hora</label>
                  </div>
                </div>
              </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Confirmar</button>
          </form>
    </div>

</div>
</div>