.agendar{
    padding-top: 5%;
    padding-left: 20%;
    
    
}

.color-agend{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.clr-agend{
    background-color: rgb(255, 255, 255);
    border-style: initial;
}

.pads{
    padding: 40px;
    padding-top: 40px;
}
.border-label{
    border:2px solid rgb(228, 228, 228);
      border-radius: 5px;
      background-color: #f7f7f7;
  }

