

  <nav class="navbar navbar-expand-lg navbar-light bg-jamaci-menu pdd">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <!-- Navbar brand -->
       
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-principal">
          <li class="nav-item" *ngFor="let itemT of menuT" [routerLink]="itemT.url" routerLinkActive = "active">
            <a class="nav-link text-menu" > {{itemT.title}}</a>
          </li>
          
        </ul> 
       
      </div>
     
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->








