@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;400&family=Roboto+Condensed&display=swap'); 
.contenedor-logo, .menu-principal{
    
	margin:auto;
	text-align:center;
}

.menu-principal li{
	float: none;
	display: inline-block;
}

.bg-jamaci-pr{
    background-color: #F3F3F3;
    
}
.bg-jamaci-menu{
    background-color: #474747;
}

.text-menu{
    color: white;
    font-family: 'Inter', sans-serif;
    padding-right: 30px;
    font-size: 15px;
}

.text-menu:hover{
    color: #00A7E5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.pdd{
    padding-top: 0px;
}

