.card-body{
    background-color: #223241;
}
.card-title{
    color: white;
}

.card-text{
    color: white;
}

.colorc{
    background-color: rgba(199, 211, 247, 0.329);
    border-radius: 6px;
}

.btnRecu{
    background-color: #00A7E5;
}

.text-formulario-login-e{
    color: rgba(255, 255, 255, 0.795);
}

.contenedor-login{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-log{
    background-image: url("../../../../assets/buildings-455239_640.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: -20px;
}

.form-control{
    color: white;
}