<div class="image-log">
    <div class="contenedor-login ">
        <div class="container">
            <div class="row"  >
                <div class="col-md-3"></div>
                <div class="col-md-6" >
                    <div class="card text-center">
                        <div class="card-body">
                          <h2 class="card-title">Restablecer Contraseña</h2>
                          <p class="card-text">Ingrese su correo para enviarle un código de recuperación</p>
                            <div class="form-outline mb-4 colorc">
                            <input type="email" id="email" class="form-control" />
                            <label class="form-label " for="email"> <a class="text-formulario-login-e">Correo electrónico</a> </label>
                            </div>
                          <a href="/dashboard/recuCodigo"><button type="button" class="btn btn-primary btnRecu">Enviar Código</button></a>
                        </div>
                      </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
