table {
    width: 100%;
  }

  .title{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 32px;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .example-events {
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
  }
  
  @media only screen and (max-width: 425px) {
    .text-cell{
      font-size: 8px;
    }
    
    .text-row{
      font-size: 8px;
    }

    .btn-icon{
      font-size: 15px;
    }
    
  }

  @media only screen and (max-width: 375px) {
  .title{
    font-size: 20px;
  }   
  }
  
  