<br><br>
<div class="container">
   <div class="row">
    <div class="col-md-2">
      <a href="/admi/citas"><mat-icon>keyboard_backspace</mat-icon></a>
    </div>
    <div class="col-md-8"><h5 class="title">Citas Pendientes: ENERO</h5> </div>
    <div class="col-md-2"></div>
   </div>
</div>
<br>
<div class="container" style="text-align: center;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Pedro" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Id </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.nombre}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="direccion">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Dirección </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.direccion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="servicio">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Servicio </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.servicio}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="reagendar">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Reagendar </mat-header-cell>
                <mat-cell *matCellDef="let row">
                        <a href="/admi/citas-reagendar">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                            <mat-icon class="btn-icon">history</mat-icon>
                            </button>
                        </a>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cancelar">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Cancelar </mat-header-cell>
                <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                            <mat-icon class="btn-icon">delete</mat-icon>
                        </button>
                </mat-cell>
              </ng-container>
          <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="['id','nombre','direccion','servicio','reagendar','cancelar']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['id','nombre','direccion','servicio','reagendar','cancelar']"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>    
</div>
<br><br>



