.ajust-login-card{
    padding: 40px;
    background-color: #223241;
    width: 1100px;
}

.color-label{
    color: azure;
}
.btn-jam{
    background-attachment: #00A7E5;
}

.colorc{
    background-color: rgba(199, 211, 247, 0.329);
    border-radius: 6px;
    margin-bottom: auto;
}

.text-formulario-login{
    color: rgb(255, 255, 255);
}

.text-formulario-login-e{
    color: rgba(255, 255, 255, 0.795);
}

.pane-color{
    background-color: #00A7E5;
}

.btn-ajust-register{
background-color: #00A7E5;
width: 60%;

}

.contenedor{
    display: flex;
justify-content: center;
}

.contenedor-login{
    display: flex;
    justify-content: center;
   padding-bottom: 50px;
    padding-left: 35%;
    padding-top: 4%;
}

.image-log{
    background-image: url("../../../../assets/buildings-455239_640.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: -20px;
}

@media only screen and (max-width: 320px) {
    .ajust-login-card{
        padding: 20px;
        background-color: #a1c0dd;
        width: 1100px;
    }

    .colorc{
        background-color: rgba(199, 211, 247, 0.329);
        border-radius: 6px;
        margin-bottom: auto;
    }
    
    .text-formulario-login{
        color: rgb(255, 255, 255);
    }
    
    .text-formulario-login-e{
        color: rgba(255, 255, 255, 0.795);
    }
    
    .pane-color{
        background-color: #00A7E5;
    }
    
    .btn-ajust-register{
    background-color: #00A7E5;
    width: 60%;
    
    }
    
    .contenedor{
        display: flex;
    justify-content: center;
    }
    
    .contenedor-login{
        display: flex;
        justify-content: center;
       padding-bottom: 50px;
        padding-left: 35%;
        padding-top: 4%;
    }
    
}

@media only screen and (max-width: 425px) {
    .ajust-login-card{
        padding: 20px;
        background-color: #a1c0dd;
        width: 425px;
    }
    .colorc{
        background-color: rgba(199, 211, 247, 0.329);
        border-radius: 6px;
        margin-bottom: 0px;
    }
    
    .text-formulario-login{
        color: rgb(255, 255, 255);
    }
    
    .text-formulario-login-e{
        color: rgba(255, 255, 255, 0.795);
    }
    
    .pane-color{
        background-color: #00A7E5;
    }
    
    .btn-ajust-register{
    background-color: #00A7E5;
    width: 60%;
    
    }
    
    .contenedor{
        display: flex;
    justify-content: center;
    }
    
    .contenedor-login{
       
        justify-content: center;
       padding-bottom: 50px;
        padding-left: 4%;
        padding-top: 4%;
       
    }
    
}


@media only screen and (max-width: 1024px) {
    .card{
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
  @media only screen and (max-width: 425px) {
    .ajust-login-card{
        padding: 20px;
        background-color: #a1c0dd;
        width: 425px;
    }
    .colorc{
        background-color: rgba(199, 211, 247, 0.329);
        border-radius: 6px;
        margin-bottom: 0px;
    }
    
    .text-formulario-login{
        color: rgb(255, 255, 255);
    }
    
    .text-formulario-login-e{
        color: rgba(255, 255, 255, 0.795);
    }
    
    .pane-color{
        background-color: #00A7E5;
    }
    
    .btn-ajust-register{
    background-color: #00A7E5;
    width: 60%;
    
    }
    
    .contenedor{
        display: flex;
    justify-content: center;
    }
    
    .contenedor-login{
       
        justify-content: center;
       padding-bottom: 50px;
        padding-left: 4%;
        padding-top: 4%;
       
    }
    
}


}





@media only screen and (max-width: 565px) {
    .ajust-login-card{
        padding: 20px;
        background-color: #a1c0dd;
        width: 425px;
    }
    .colorc{
        background-color: rgba(199, 211, 247, 0.329);
        border-radius: 6px;
        margin-bottom: 0px;
    }
    
    .text-formulario-login{
        color: rgb(255, 255, 255);
    }
    
    .text-formulario-login-e{
        color: rgba(255, 255, 255, 0.795);
    }
    
    .pane-color{
        background-color: #00A7E5;
    }
    
    .btn-ajust-register{
    background-color: #00A7E5;
    width: 60%;
    
    }
    
    .contenedor{
        display: flex;
    justify-content: center;
    }
    
    .contenedor-login{
       
        justify-content: center;
       padding-bottom: 50px;
        padding-left: 4%;
        padding-top: 4%;
       
    }
    
}




