<div class="image-log">
<div class="  col-8  contenedor-login ">
    <div class="card ajust-login-card">
<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active "
        id="tab-login"
        data-mdb-toggle="pill"
        href="#pills-login"
        role="tab "
        aria-controls="pills-login "
        aria-selected="true"
        >Login</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="tab-register"
        data-mdb-toggle="pill"
        href="#pills-register"
        role="tab"
        aria-controls="pills-register"
        aria-selected="false"
        >Registro</a
      >
    </li>
  </ul>
  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content ">
    <div class="tab-pane fade show active " id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form>
        <div class="text-center mb-3">
          <p class="text-formulario-login">Ingresa con:</p>
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
  
        <p class="text-center text-formulario-login">o:</p>
  
        <!-- Email input -->
        <div class="form-outline mb-4 colorc">
          <input type="email" id="loginName" class="form-control color-label" />
          <label class="form-label  " for="loginName"> <a class="text-formulario-login-e">Email</a> </label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4 colorc">
          <input type="password" id="loginPassword" class="form-control color-label" />
          <label class="form-label text-formulario-login" for="loginPassword"><a class="text-formulario-login-e">Password</a> </label>
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck"> Recordarme </label>
            </div>
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a class="text-formulario-login" href="/dashboard/recuContra">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <div class="contenedor">  <button type="submit" class="btn btn-primary btn-block mb-4 mb-3 btn-ajust-register">Sign in</button>
        </div>
  
        <!-- Register buttons -->
        <div class="text-center text-formulario-login">
          <p>¿No tienes cuenta? <a href="#!">Registrate</a></p>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form>
        <div class="text-center mb-3 text-formulario-login">
          <p>Registrate con:</p>
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
  
        <p class="text-center text-formulario-login">o:</p>
  
        <!-- Name input -->
        <div class="form-outline mb-4 colorc">
          <input type="text" id="registerName" class="form-control color-label" />
          <label class="form-label" for="registerName"> <a class="text-formulario-login-e"> Nombre(s)</a></label>
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4 colorc">
          <input type="text" id="registerUsername" class="form-control color-label" />
          <label class="form-label" for="registerUsername"><a class="text-formulario-login-e">Apellidos</a></label>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4 colorc">
          <input type="email" id="registerEmail" class="form-control color-label" />
          <label class="form-label" for="registerEmail"><a class="text-formulario-login-e">Email</a></label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4 colorc">
          <input type="password" id="registerPassword" class="form-control color-label" />
          <label class="form-label" for="registerPassword"><a class="text-formulario-login-e">Password</a></label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4 colorc">
          <input type="password" id="registerRepeatPassword" class="form-control color-label" />
          <label class="form-label" for="registerRepeatPassword"><a class="text-formulario-login-e">Confirmar password</a></label>
        </div>
  
      
  
        <!-- Submit button -->
            <div class="contenedor"> <button type="submit" class="btn btn-primary btn-block mb-3 btn-ajust-register">REGISTRARME</button>
   </div>
      </form>
    </div>
  </div>
  <!-- Pills content -->
</div>
</div>
</div>