<app-header></app-header><div class="col-12">
        <app-menu></app-menu>
    </div>
<div class=" mt-0">
    
    <div class="col">
       <router-outlet></router-outlet> 
    </div>
</div>
<app-footer></app-footer>
