<br><br>
<div class="container">
   <div class="row">
    <div class="col-md-2">
      <a href="/admi/citas-pendientes"><mat-icon>keyboard_backspace</mat-icon></a>
    </div>
    <div class="col-md-8"><h5 class="title">Reagendar Cita</h5> </div>
    <div class="col-md-2"></div>
   </div>
</div>
<br>
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-6">
            <h3 class="sub-title">Fecha</h3>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker"
                       (dateInput)="addEvent($event)">
                <mat-hint>Ultimo servicio: 18/1/2023</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">Hola</mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
              <div class="example-events">
                <div *ngFor="let e of events">{{e}}</div>
              </div>              
        </div>
        <div class="col-md-6">
            <h3 class="sub-title">Hora</h3>
            <br>
            <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <button type="button" class="btn btn-success btn-rounded">Reagendar</button>
        </div>
    </div>
</div>
<br><br>
