@import '~mdb-ui-kit/css/mdb.min.css';

.contenedor-logo, .menu-principal{
    
	margin:auto;
	text-align:center;
}

.menu-principal li{
	float: none;
	display: inline-block;
}

.bg-jamaci-pr{
    background-color: #F3F3F3;
}
.bg-jamaci-menu{
    background-color: #474747;
}

.text-menu{
    color: white;
    font-family: 'Inter', sans-serif;
    padding-right: 30px;
    font-size: 12px;
}

.text-menu:hover{
    color: #00A7E5;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}




