<h3 style="text-align:center;" class="pt-5" >CITAS</h3>


<div class="pad-citas">
<div class="row citas-ajust">
    <div class="col-3 col-sm padds-citas">
      <!-- Tab navs -->
      <div
        class="nav flex-column nav-fill nav-pills text-center"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="v-pills-home-tab"
          data-mdb-toggle="pill"
          href="#v-pills-home"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          >Datos del Cliente</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          data-mdb-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
          >Servicio</a
        >
        <a
          class="nav-link"
          id="v-pills-messages-tab"
          data-mdb-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          >Confirmación del Servicio</a
        >
      </div>
      <!-- Tab navs -->
    </div>
  
    <div class="col-9">

      
      <!-- Tab content -->
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >

        <form action="">
         <!-- Home content -->
         <div class="row ">
          <hr>
          <h1 class="letter-tabs" style="color:white; text-align:center;">Informacion del cliente</h1>
          <div class="col-sm  flex-sm-row ">
            <!-- Name input -->
            <div class="form-outline  border-label ">
              <input type="text" id="form8Example3" class="form-control " />
              <label class="form-label  " for="form8Example3"><a class="colr">Nombre(s)</a> </label>
            </div>
          </div>
          <div class="col-sm  ">
            <!-- Name input -->
            <div class="form-outline border-label">
              <input type="text" id="form8Example4" class="form-control" />
              <label class="form-label" for="form8Example4"><a class="colr">Apellido Paterno</a></label>
            </div>
          </div>
          <div class="col ">
            <!-- Email input -->
            <div class="form-outline border-label">
              <input type="email" id="form8Example5" class="form-control" />
              <label class="form-label" for="form8Example5"><a class="colr">Apellido Materno</a></label>
            </div>
          </div>
          <hr>
          <div class="col  ">
            <!-- Name input -->
           
            <div class="form-outline border-label">
              <input type="email" id="form8Example1" class="form-control" />
              <label class="form-label" for="form8Example1"><a class="colr">Email</a> </label>
            </div>
          </div>
          <div class="col  ">
            <!-- Email input -->
            <div class="form-outline border-label">
              <input type="number" id="form8Example2" class="form-control" />
              <label class="form-label" for="form8Example2"><a class="colr">Telefono</a> </label>
            </div>
          </div>
        </div>
        <hr>
        <h1 class="letter-tabs" style="color:white; text-align:center;">Direccion</h1>
        <div class="row">
          
          <div class="col  ">
            <!-- Name input -->
            <div class="form-outline border-label">
              <input type="text" id="form8Example3" class="form-control" />
              <label class="form-label " for="form8Example3"><a class="colr">Calle</a> </label>
            </div>
          </div>
          <div class="col  ">
            <!-- Name input -->
            <div class="form-outline border-label">
              <input type="text" id="form8Example4" class="form-control" />
              <label class="form-label" for="form8Example4"><a class="colr">Numero Interior</a></label>
            </div>
          </div>
        
          <div class="col  ">
            <!-- Email input -->
            <div class="form-outline border-label">
              <input type="email" id="form8Example5" class="form-control" />
              <label class="form-label" for="form8Example5"><a class="colr">Numero Exterior</a></label>
            </div>
          </div>
          <hr>
          <div class="col  ">
            <div class="form-outline mb-4 border-label">
              <input type="text" id="form7Example1" class="form-control" />
              <label class="form-label" for="form7Example1"><a class="colr">Entre calles</a> </label>
            </div>
          </div>
          <hr>
          <div class="col  ">
            <!-- Name input -->
           
            <div class="form-outline border-label">
              <input type="text" id="form8Example1" class="form-control" />
              <label class="form-label" for="form8Example1"><a class="colr">Codigo Postal</a> </label>
            </div>
          </div>
          <div class="col  ">
            <!-- Email input -->
            <div class="form-outline border-label">
              <input type="email" id="form8Example2" class="form-control" />
              <label class="form-label" for="form8Example2"><a class="colr">Colonia</a> </label>
            </div>
          </div>
        </div>
        <div class="col-12 pt-5" style="text-align:end;">
          <button type="submit" class="btn btn-primary" href="#v-pills-profile">Siguiente y Guardar</button>
        </div>
      </form>
         <!--Home conn-->
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <!-- srvicio content -->
          <form action="">
          <div class="row">
            <hr>
            <h1>Servicios</h1>
            <div class="col" >
            
              <div class="content-select">
                <select>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <i></i>
              </div>
          </div>
          <h1>Descripcion</h1>
           <!--Home conn-->
           <div class="col">
 <!-- Message input -->
 <div class="form-outline mb-4 border-label">
  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
  <label class="form-label" for="form4Example3">Message</label>
</div>

<!--jhj-->
<div class="row">
      <div class="col">
          <h3 class="sub-title">Fecha</h3>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker"
                     (dateInput)="addEvent($event)">
              <mat-datepicker-toggle matIconSuffix [for]="picker">Hola</mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <div class="example-events">
              <div *ngFor="let e of events">{{e}}</div>
            </div>              
      </div>
      <div class="col">
          <h3 class="sub-title">Hora</h3>
          <br>
          <mat-form-field appearance="fill">
          <mat-label>Elija una hora</mat-label>
          <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
              </mat-option>
          </mat-select>
          </mat-form-field>
      </div>
    </div>
<!--kbhj-->
           </div>
        </div>
        <div class="col-12 pt-5" style="text-align:end;">
          <button type="submit" class="btn btn-primary" href="#v-pills-profile">Siguiente y Guardar</button>
        </div>
      </form>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
       

  <div class="row">
    <div class="col-12">
      <br>
     
      <div class="col">
        <h2 class="" style="text-align: center;">Información del cliente</h2>
        <h5 class="">Nombre:</h5> <p class="">Dianna Ramirez</p> 
        <h5 class="">Email: </h5> <p class="">DiannaRamirez123@gmail.com</p> 
        <h5 class="">Télefono: </h5> <p class="">951 876 76 88</p> 
        <h2 class="" style="text-align: center;">Dirección</h2> 
        <h5 class="">Dirección: </h5> <p class="">Calle bustamante #3</p> 
        <h5 class="" >Descripción del servicio: </h5> <p class="">Aire Acondicionado <br> Instalación</p> 
        <h5 class="">Fecha y Hora: </h5> <p class="">12/02/2023 a las 12:00pm</p>
      </div>
      
    </div>
    <!-- Button trigger modal -->
    <div class="col-12 pt-5" style="text-align:end;">
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
  Guardar
</button>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estas apunto de agendar tu cita</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Listo haz concluido el formulario si tus datos son correctos dale en enviar, en breve te llegara un correo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Verificar mis datos</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
        </div>
        
     
     

      <!-- Tab content -->
    </div>
  
  </div>
  
</div>

