@import '~mdb-ui-kit/css/mdb.min.css';

  /*.citas-ajust{
    background-color: #223241;
    border-radius: 8px;
    width: 820px;
    height: 520px;
    color: rgba(240, 248, 255, 0);  
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    
}

.pad-citas{
    padding-left: 30%;
    padding-right: 30%;
}

.nav-link{
background-color: rgba(255, 255, 255, 0.603);
color: aliceblue;
}

.colr-inpt{
background-color: rgba(255, 255, 255, 0.281);
color: aliceblue;
border:2px solid rgba(255, 255, 255, 0.534);
border-radius: 5px;
}

.colr{
    color: rgb(255, 255, 255);
}

.label-ajust{
    width: 200px;
}

.label-app{
    width: 150px;
}

.letter-tabs{
color: rgb(255, 255, 255);
}
.colr-inptv{
    background-color: rgba(255, 255, 255, 0.281);
}

.pad-top{
    padding-top: 20px;
    padding-left: 63%;
}

.label-selec{
    width: 60%;
}

  @media only screen and (max-width: 320px) {
    .citas-ajust{
        background-color: #7492ad;
        border-radius: 8px;
        width: 520px;
        height: 320px;
        color: rgba(240, 248, 255, 0);  
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 30px;
        
    }
  }

  */

  .contenedor-citas{
    background-color: #223241;
    justify-content: center;
    display: flex;
  }
  .centratdo-citas{
    background-color: blueviolet;
   

  }

 
@media only screen and (min-width: 320px) {
   .pad-citas{
    padding-left: 10%;
    padding-right: 10%;
    
}
  }

  .citas-ajust{
    background-color: #e4e4e4;
    border-radius: 10px;
  }

.visually-hidden {
    position: absolute;
    width: 10px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .content-select{
      max-width: 100%;
      position: relative;

  }
   
  .content-select select{
      display: inline-block;
      width: 100%;
      cursor: pointer;
        padding: 7px 10px;
        height: 42px;
        outline: 0; 
        border: 0;
      border-radius: 0;
      background: #f7f7f7;
      color: #000000;
      font-size: 1em;
      color: rgb(12, 100, 201);
      font-family: 
      'Quicksand', sans-serif;
      border:2px solid rgba(248, 248, 248, 0.2);
      border-radius: 5px;
      position: relative;
      transition: all 0.25s ease;
  }
   
  .content-select select:hover{
      background: #f3f3f3;
  }
   
 
  

  .content-select i{
      position: absolute;
      right: 20px;
      top: calc(50% - 13px);
      width: 16px;
      height: 16px;
      display: block;
      border-left:4px solid #c9fae100;
      border-bottom:4px solid #2ac17600;
      transform: rotate(-45deg); 
      /* Giramos el cuadrado */
      transition: all 0.25s ease; 
  }
   
  .content-select:hover i{
      margin-top: 3px;
  }

  .border-label{
    border:2px solid rgb(228, 228, 228);
      border-radius: 5px;
      background-color: #f7f7f7;
  }

  .padds-citas{
    padding: 60px;
    padding-top: 70px;
  }
 

