<br>
<div class="container">
    <!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1" role="tab"
        aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="far fa-calendar me-2 "></i>Citas</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
        aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="far fa-calendar-check me-2"></i>Citas pendientes</a>
    </li>
  </ul>
  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <div class="tab-content" id="ex-with-icons-content">
    <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">
      <div class="row row-cols-2 row-cols-md-6 g-4">
        <div class="col">
          <a href="/admi/citas-mes"><button type="button" class="btn btn-primary btn-rounded">Enero</button></a>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Febrero</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Marzo</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Abril</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Mayo</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Junio</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Julio</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Agosto</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Septiembre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Octubre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Noviembre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Diciembre</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
      <div class="row row-cols-2 row-cols-md-6 g-4">
        <div class="col">
          <a href="/admi/citas-pendientes"><button type="button" class="btn btn-primary btn-rounded">Enero</button></a>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Febrero</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Marzo</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Abril</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Mayo</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Junio</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Julio</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Agosto</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Septiembre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Octubre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Noviembre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-rounded">Diciembre</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabs content -->
</div>
