table {
  width: 100%;
}

.title{
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 32px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.modal-title{
  font-weight: bold;
  text-align: center !important;
  color: black;
}

.sub-modal-title{
  font-weight: bold;
  color:black;
  text-align: center;
}

.info-modal{
  font-weight: bold;
  font-size: 15px;
  color: #7D7D7D;
}

.text-cliente{
  color: black;
  font-weight: bold;
}

.example-events {
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
}

@media only screen and (max-width: 425px) {
  .text-cell{
    font-size: 8px;
  }
  
  .text-row{
    font-size: 8px;
  }
  
}

