<br><br>
<div class="container">
   <div class="row">
    <div class="col-md-2">
      <a href="/admi/citas"><mat-icon>keyboard_backspace</mat-icon></a>
    </div>
    <div class="col-md-8"><h5 class="title">Citas: ENERO</h5> </div>
    <div class="col-md-2"></div>
   </div>
</div>
<br>
<div class="container" style="text-align: center;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Pedro" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Id </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.nombre}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="direccion">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Dirección </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.direccion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="servicio">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Servicio </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-row"> {{row.servicio}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="detalles">
                <mat-header-cell *matHeaderCellDef class="text-cell"> Detalles </mat-header-cell>
                <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                        data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                </mat-cell>
              </ng-container>

          <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="['id','nombre','direccion','servicio','detalles']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['id','nombre','direccion','servicio','detalles']"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">DETALLES DE LA CITA</h3>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="sub-modal-title">Información del cliente</h2>
        <h5 class="info-modal">Nombre:</h5> <p class="text-cliente">Francisco Martinez</p> 
        <h5 class="info-modal">Email: </h5> <p class="text-cliente">sanchezmartinezf123@gmail.com</p> 
        <h5 class="info-modal">Télefono: </h5> <p class="text-cliente">951 303 26 28</p> 
        <h2 class="sub-modal-title">Dirección</h2> 
        <h5 class="info-modal">Dirección: </h5> <p class="text-cliente">Hidalgo #26</p> 
        <h5 class="info-modal">Descripción del servicio: </h5> <p class="text-cliente">Aire Acondicionado <br> Instalación</p> 
        <h5 class="info-modal">Fecha y Hora: </h5> <p class="text-cliente">17/01/2023 a las 12:00pm</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<br><br>

