.title{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 32px;
}

.card{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.card-title{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.card-text{
    text-align: center;
}

.btn{
    background: #00A7E5;
    border-radius: 17px;
    width: 150px;
}

@media only screen and (max-width: 320px) {
    .btn{
        width: 150px;
    }

    .card-title{
        padding-top: 5px;
    }
}

@media only screen and (max-width: 425px) {
    .card-title{
        padding-top: 5px;
    }

    .btn{
        width: 140px;
    }

    .title{
        font-size: 20px;
    }
}