<br><br>
<div class="container" style="text-align: center;">
    <h5 class="title">Ofrecemos los siguientes servicios</h5>
</div>
<br><br>
<div class="container" style="text-align: center;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/img/ins1.jpeg" class="card-img-top" alt="Instalaciones"/>
        <div class="card-body">
          <h5 class="card-title">Instalaciones</h5>
          <p class="card-text">
            <br>
            <a href="/dashboard/citas" class="btn btn-primary">Agendar cita</a>
          </p>
        </div>
        <br>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/img/mt1.jpeg" class="card-img-top" alt="Mantenimiento"/>
        <div class="card-body">
          <h5 class="card-title">Mantenimiento</h5>
          <p class="card-text">
            <br>
            <a href="/dashboard/citas" class="btn btn-info">Agendar cita</a>
          </p>
        </div>
        <br>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/img/gs1.jpeg" class="card-img-top" alt="Gases medicinales"/>
        <div class="card-body">
          <h5 class="card-title">Gases medicinales</h5>
          <p class="card-text">
            <br>
            <a href="/dashboard/citas" class="btn btn-primary">Agendar cita</a>
          </p>
        </div>
        <br>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/img/dt1.jpeg" class="card-img-top" alt="Ductería rigida y flexible"/>
        <div class="card-body">
          <h5 class="card-title">Ductería rígida y flexible</h5>
          <p class="card-text">
            <br>
            <a href="/dashboard/citas" class="btn btn-primary">Agendar cita</a>
          </p>
        </div>
        <br>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/img/cm1.jpeg" class="card-img-top" alt="Cámaras de refrigeración"/>
        <div class="card-body">
          <h5 class="card-title">Cámaras de refrigeración</h5>
          <p class="card-text">
            <br>
            <a href="/dashboard/citas" class="btn btn-primary">Agendar cita</a>
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<br><br>

