.title{
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.title2{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.subtitle{
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.textPersonal{
    text-align: center;
    color: black;
    font-weight: 700;
    
}

.card1{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.card-title{
    text-align: center;
    padding-top: 10px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.card-text{
    text-align: left;
    padding-left: 80px;
    font-size: 14px;
}

.img-fluid{
    border-radius: 0px 30px 30px 0px;
    height: 300px;
    width: 610px;
}

.btn{
    background: #00A7E5;
    border-radius: 17px;
    width: 295px;
}

.bgContacto{
    background-color: #404040;
}

.textContacto{
    color: white;
    font-size: 16px;
}

.tituloContacto{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #B0B0B0;
}

.mapa{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

@media only screen and (max-width: 320px) {
    .btn{
        width: 150px;
    }

    .card-title{
        padding-top: 5px;
    }
    
}


@media only screen and (max-width: 425px) {
    .img-fluid{
        border-radius: 0px 0px 30px 30px;
        height: 200px !important;
    }

    .card-title{
        padding-top: 5px;
    }

    .btn{
        width: 140px;
    }

    .title{
        font-size: 30px;
    }

    .title2{
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    .text-contact{
        padding-top: 20% !important;
    }
    .mapa{    
        padding-bottom: 60% !important;
    }
    .img-fluid{
        height: 400px;   
    }
}



@media only screen and (max-width: 1024px) {
    .card-text{
        padding-left: 0px;
    }
    
}

.color-contac{
    background-color: #404040;
}
.text-contact{
    color: #B0B0B0;
    font-size: 24px;
    font-weight: 700;
    font-size: 36px;
}
.text-contac-detalles{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
}

