<br><br>
<div class="container" style="text-align: center;">
    <h1 class="title">SOMOS EMPRESA LÍDER</h1>
    <h6 class="subtitle">¡El servicio de aire acondicionado más rápido al mejor precio!</h6>
</div>
<br><br>
<div class="container" style="text-align: center;">
    <div class="card card1 mb-3" style="max-width: 1235px;">
        <div class="row">
            <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">¿Quiénes somos?</h5>
                <br>
                <p class="card-text">
                Aire Acondicionado, Refrigeración y Electricidad JAMACI
                <br> 
                S.A. de C.V. somos una empresa de más de 20 años de 
                <br>
                experiencia en el mercado, dedicada a la venta e 
                <br>
                instalación de equipos de aire acondicionado y
                <br> 
                refrigeración, ofrecemos servicios de mantenimientos 
                <br>
                preventivos y correctivos. Estamos comprometidos en 
                <br>
                brindarle servicios de calidad.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img
            src="../../../../assets/img/nosotros.jpeg"
            alt="Trendy Pants and Shoes"
            class="img-fluid"
            />
        </div>
    </div>
    </div>
</div>
<br><br>
<div class="container">
    <h5 class="title2">Equipo de trabajo capacitado</h5>
    <br><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../../assets/img/super.jpeg" class="card-img-top" alt="Skyscrapers"/>
          </div>
          <br>
          <p class="textPersonal">SUPERVISORES</p>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../assets/img/tec.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
          </div>
          <br>
          <p class="textPersonal">TÉCNICOS</p>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../assets/img/admi.jpeg" class="card-img-top" alt="Palm Springs Road"/>
          </div>
          <br>
          <p class="textPersonal">ADMINISTRATIVOS</p>
        </div>
      </div>
</div>
<br><br>
<div class="container">
  <div class="card mb-3" style="max-width: 1440px;">
    <div class="row g-0">
      <div class="col-md-7 col-sm-12 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3814.4664491025624!2d-96.70093498615704!3d17.04982178828175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c723ae2a302f43%3A0x6c8da629d6d29da3!2sJAMACI%20S.A.%20DE%20C.V.!5e0!3m2!1ses-419!2smx!4v1673570125594!5m2!1ses-419!2smx" 
        width="838" 
        height="380" 
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="col-md-5 col-sm-12 color-contac">
        <div class="card-body">
          <h5 class="card-title text-contact" style="padding-top: 20%;">Contacto</h5>
          <br><br>
          <p class="card-text text-contac-detalles">
            Privada de Jacarandas No. 105 <br>
            Ampliación Santa Lucia, Santa Lucia del Camino <br>
            Matriz Oaxaca 951 503 16 79 <br>
            WhatsApp 951 199 77 62 <br>
            Suc. Puerto Escondido 954 154 69 80
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


