<br><br>
<div class="container" style="text-align: center;">
    <h5 class="title">Contacto</h5>
</div>
<br><br>
<div class="container">
    <div class="card mb-3" style="max-width: 1174px;">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../../../assets/img/contacto.jpeg"
              alt="Trendy Pants and Shoes"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Matriz</h5>
              <p class="card-text">
                Priv. de Jacarandas No. 105, Ampliación Santa Lucía
                Santa Lucía del Camino, Oaxaca
                <br>
                951 503 16 79
                <br>
                Lun-Vie 8:00am-6:00pm
                <br>
                sábado 8:00am-2:30pm
                <br>
                jamaci10@hotmail.com
              </p>
              <br>
              <h5 class="card-title">Sucursal</h5>
              <p class="card-text">
                Sucursal Puerto Escondido
                <br>
                Distrito de San Pedro Mixtepec Carretera Costera S/N, Puerto 
                Escondido, Oaxaca, San Pedro Mixtepec, Oaxaca
                <br>
                954 154 69 80
                <br>
                Lun-Vie 8:00am-6:00pm
                <br>
                Sábado 8:00am-2:30pm
                <br>
                jamaci10@hotmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
<br><br>
