.title{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 32px;
}

.card{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    margin-left: 50px;
}

.card-title{
    text-align: left;
    padding-top: 10px;
    color: #4D88BE;
    font-weight: 700;
    font-size: 24px;
}

.card-text{
    text-align: left;
    color: #636363;
    font-weight: 400;
    font-size: 15px;
}

.img-fluid{
    border-radius: 30px 00px 0px 30px;
    height: 460px;
    width: 400px;
}

@media only screen and (max-width: 320px) {
    .card-title{
        padding-top: 5px;
    }
}

@media only screen and (max-width: 425px) {
    .img-fluid{
        border-radius: 30px 30px 0px 0px;
    }

    .card-title{
        padding-top: 5px;
    }
    .card{
        margin-left: 0px;
    }
}


@media only screen and (max-width: 1024px) {
    .card{
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        margin-left: 10px;
    }
}


