<header></header>
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade carrousel-ajust-home" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="../../../../assets/WhatsApp Image 2022-04-01 at 2.25.32 PM (1).jpeg" class="d-block w-100" alt="Sunset Over the City"/>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="home-text-slide">Aire acondicionado</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="../../../../assets/WhatsApp Image 2022-01-15 at 9.42.16 AM (2).jpeg" class="d-block w-100" alt="Canyon at Nigh"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="../../../../assets/WhatsApp Image 2022-02-02 at 1.08.14 PM (3).jpeg" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->

<div class="contenedor-icons">
  <!--porque elejirnos-->
  <div class="row row-cols-1 row-cols-md-3  g-4 pd-10">
    <div class="col col-sm-8">
      <div class="card h-100 img-fluid">
        <img src="../../../../assets/Icons-home/cronometro (1).png" class="card-img-top ajust-icon-home" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title icon-letter">Atención Rápida</h5>
          <p class="card-text icon-letter-sub">
            
Brindamos a nuestros clientes un servicio eficiente e integral.
          </p>
        </div>
       
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/Icons-home/garantia.png" class="card-img-top ajust-icon-home" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
            <h5 class="card-title icon-letter">Pagos Seguros</h5>
            <p class="card-text icon-letter-sub">
                
                Aceptamos pagos en efectivo, transferencia electrónica, tarjeta de débito.
            </p>    </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/Icons-home/pago.png" class="card-img-top ajust-icon-home" alt="Palm Springs Road"/>
        <div class="card-body">
            <h5 class="card-title icon-letter">Equipo de Expertos</h5>
            <p class="card-text icon-letter-sub">
              
                Contamos con personal ampliamente capacitado para brindarle servicios de calidad.
            </p>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 pd-10">
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/Icons-home/unido.png" class="card-img-top ajust-icon-home" alt="Skyscrapers"/>
        <div class="card-body">
            <h5 class="card-title icon-letter">Servicios Acequibles</h5>
            <p class="card-text icon-letter-sub">
                Nuestros precios son amigables a su bolsillo.
            </p>
        </div>
       
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/Icons-home/liderazgo.png" class="card-img-top ajust-icon-home" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
            <h5 class="card-title icon-letter">1 año de garantía</h5>
            <p class="card-text icon-letter-sub">
              
                Brindamos un año de garantía en refacciones de nuestros equipos.
            </p>     </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/Icons-home/billetera.png" class="card-img-top ajust-icon-home" alt="Palm Springs Road"/>
        <div class="card-body">
            <h5 class="card-title icon-letter">  Líderes en el mercado Oaxaqueño</h5>
            <p class="card-text icon-letter-sub">
                No somos los primeros pero si los mejores
            </p>
        </div>
       
      </div>
    </div>
  </div>
</div>

<div class="col-12 md-6 xl-3 ">
    <h1 class="text-proyect">Proyectos</h1>
</div>

<div class="content">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../../assets/home-images/proyectos/proyecto1.jpg" class="card-img-fluid img-ajust" alt="Skyscrapers"/>
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>

          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../../assets/home-images/proyectos/proyecto2.jpeg" class="card-img-fluid img-ajust" alt="Los Angeles Skyscrapers"/>
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../../assets/home-images/proyectos/proyecto3.jpeg" class="card-img-fluid img-ajust" alt="Palm Springs Road"/>
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This card has even longer content than the first to show
                that equal height action.
              </p>
            </div>
           
          </div>
        </div>
      </div>
</div>

<div class="col-12 md-6 xl-3 ajust-client">
  <h1 class="text-proyect">Clientes</h1>
</div>

<div class="content">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/home-images/clientes/cliente.jpg" class="card-img-fluid img-ajust" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Nombre proyecto</h5>
          
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/home-images/clientes/cliente2.jpg" class="card-img-fluid img-ajust" alt="Los Angeles Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Nombre proyecto</h5>
                </div>
         
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/home-images/clientes/cliente3.jpg" class="card-img-fluid img-ajust" alt="Palm Springs Road"/>
          <div class="card-body">
            <h5 class="card-title">Nombre proyecto</h5>
           
          </div>
         
        </div>
      </div>
    </div>
</div>

<div class="col-12 md-6 xl-3 ajust-client ">
  <h1 class="text-proyect">Marcas</h1>
</div>

<div>

  <div class="marcas-cotenedor"></div>
</div>



