.carrousel-ajust-home{
    height: 20%;
    width: auto;
    background-color: rgba(127, 255, 212, 0);

}

.home-text-slide{
    font-size: 60px;
}

.contenedor-icons{
    padding-top: 200px;
    padding: 15%;
   
}

.ajust-icon-home{
    width: 300px;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.icon-letter{
    font-size: 28px;
    text-align: center;
}

.icon-letter-sub{
    font-size: 20px;
    color: rgb(92, 92, 92);
    font-family: 'inter', sans-serif;
    text-align: center;
}

.text-proyect{
    font-size: 46px;
    text-align: center;
}

.content{
    padding-top: 2%;
    padding-left: 13%;
    padding-right: 13%;
}

.img-ajust{
    width: 400px;
    height: 300px;
}

.ajust-client{
    padding: 10px;
}

.img-ajust-ms{
    width: 200px;
    height: 100px;
}

.card-im{
    width: 200px;
    height: 100px;
}

.marcas-cotenedor {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . .";
  }
  
  @media only screen and (max-width: 820px) {
    .carrousel-ajust-home{
        height: 20%;
        width: auto;
        background-color: rgba(127, 255, 212, 0);
    
    }

    .ajust-icon-home{
        width: 100px;
        display: flex;
        justify-content: center;
        padding-left: 60px;
    }
    .icon-letter{
        font-size: 26px;
        text-align: center;
        font-weight: bold;
        font-stretch:semi-expanded;
    }
    
    .icon-letter-sub{
        font-size: 18px;
        color: rgb(92, 92, 92);
        font-family: 'inter', sans-serif;
        text-align: center;
    }
    
    .text-proyect{
        font-size: 46px;
        text-align: center;
    }
    
    .content{
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 13%;
    }
    
    .img-ajust{
        width: 200px;
        height: 100px;
    }
    
    .ajust-client{
        padding: 10px;
    }
    
    .img-ajust-ms{
        width: 200px;
        height: 100px;
    }
    
    .card-im{
        width: 200px;
        height: 100px;
    }
    
  }